.App {
  text-align: center;
  overflow: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #030303;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 12px;
}
h1 {
  font-size: 32px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.input {
  text-align: center;
  width: 300px;
  font-size: 16px;
  padding: 10px 8px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff00;
  color: #ffffff;
  border-radius: 12px;
}
.smallInput {
  width: 40px;
  margin: auto;
  font-size: 16px;
  padding: 10px 8px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff00;
  color: #ffffff;
  border-radius: 12px;
}
#detailsContainer {
  max-width: 800px;
}
#items {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  min-width: 45%;
  max-width: 45%;
  justify-content: start;
  text-align: start;
  align-items: center;
}
#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 10px 2px;
  flex-wrap: wrap;
  overflow-wrap: normal;
}
#adminDIV {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 5%;
}

#submitButton {
  margin: 0 0;
  width: 300px;
  font-size: 16px;
  padding: 10px 8px;
  background-color: #6741d9;
  color: #ffffff;
  border: 1px solid #6741d9;
  cursor: pointer;
  transition: border-color 0.3s;
  border-radius: 12px;
}

#submitButton:hover,
#submitButton:active {
  border-color: #f0c3f1;
}

p {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}
input:disabled {
  color: #c2c2c2;
  border-color: #c2c2c2;
  cursor: not-allowed;
}

#submitButton:disabled {
  color: #c2c2c2;
  border-color: #c2c2c2;
  cursor: not-allowed;
}
button:hover {
  border-color: #f0c3f1;
  border-width: 1px;
}
